In [209]:
import pandas as pd
from datetime import datetime
import re

In [210]:
df_original = pd.read_csv("solicitudes_credito.csv", sep=";")
df = df_original.copy()

In [211]:
df = df.drop(columns=["Unnamed: 0"])
df = df.dropna()

In [212]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10716 entries, 0 to 10919
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    10716 non-null  object
 1   tipo_de_emprendimiento  10716 non-null  object
 2   idea_negocio            10716 non-null  object
 3   barrio                  10716 non-null  object
 4   estrato                 10716 non-null  int64
 5   comuna_ciudadano        10716 non-null  float64
 6   fecha_de_beneficio      10716 non-null  object
 7   monto_del_credito       10716 non-null  object
 8   línea_credito           10716 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 837.2+ KB

In [213]:
df["monto_del_credito"] = df["monto_del_credito"].str.strip("$")
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,"7,000,000.00",microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [214]:
df["monto_del_credito"] = df["monto_del_credito"].str.replace(",", "")
df["monto_del_credito"] = df["monto_del_credito"].str.replace(r"\.00$", "", regex=True)
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,COMERCIO,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,COMIDAS RAPIDAS,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [215]:
df["sexo"] = df["sexo"].str.lower()
df["tipo_de_emprendimiento"] = df["tipo_de_emprendimiento"].str.lower()
df["idea_negocio"] = df["idea_negocio"].str.lower()
df["barrio"] = df["barrio"].str.lower()
df["línea_credito"] = df["línea_credito"].str.lower()
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3.0,28/12/2017,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12.0,16/03/2018,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16.0,2018/02/14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7.0,8/09/2016,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13.0,20/12/2016,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10915,femenino,industria,cafeteria,santo domingo savio,1,1.0,22/06/2018,1000000,microempresarial
10916,femenino,comercio,variedades,villa del socorro,2,2.0,1/04/2019,7000000,microempresarial
10917,femenino,comercio,comidas rapidas,la libertad,2,8.0,22/05/2018,7812000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5.0,27/02/2019,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2.0,8/06/2017,30000000,empresarial ed.

In [216]:
df["fecha_de_beneficio"] = [
        (
            datetime.strptime(date, "%d/%m/%Y")
            if bool(re.search(r"\d{1,2}/\d{2}/\d{4}", date))
            else datetime.strptime(date, "%Y/%m/%d")
        )
        for date in df["fecha_de_beneficio"]
]

In [217]:
df["idea_negocio"] = df["idea_negocio"].str.replace("-", " ")
df["idea_negocio"] = df["idea_negocio"].str.replace("_", " ")

df["barrio"] = df["barrio"].str.replace("-", " ")
df["barrio"] = df["barrio"].str.replace("_", " ")

In [218]:
df["comuna_ciudadano"] = df["comuna_ciudadano"].astype(int)
df["estrato"] = df["estrato"].astype(int)

In [219]:
df["línea_credito"] = df["línea_credito"].str.strip()

In [220]:
df["monto_del_credito"] = df["monto_del_credito"].astype(int)

In [221]:
df = df.drop_duplicates()
df

,sexo,tipo_de_emprendimiento,idea_negocio,barrio,estrato,comuna_ciudadano,fecha_de_beneficio,monto_del_credito,línea_credito
0,masculino,comercio,charcuteria,manrique central no. 2,1,3,2017-12-28,7000000,microempresarial
1,masculino,comercio,distribuidora de,santa lucia,2,12,2018-03-16,7000000,microempresarial
2,masculino,comercio,tienda,belen,3,16,2018-02-14,7800000,microempresarial
3,masculino,servicio,organización y,robledo,2,7,2016-09-08,1500000,microempresarial
4,masculino,servicio,comidas rapidas,20 de julio,2,13,2016-12-20,3000000,microempresarial
...,...,...,...,...,...,...,...,...,...
10913,femenino,comercio,almacen de ropa en,campo valdes no. 1,3,4,2018-07-04,2000000,microempresarial
10914,femenino,comercio,cafeteria,la america,3,12,2018-03-20,5000000,microempresarial
10915,femenino,industria,cafeteria,santo domingo savio,1,1,2018-06-22,1000000,microempresarial
10918,femenino,comercio,almacen de ropa en,caribe,3,5,2019-02-27,8281000,microempresarial
10919,femenino,servicio,fabrica de alimentos,andalucia,2,2,2017-06-08,30000000,empresarial ed.